################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BoardGames/x64
/BoardGamesEngine/Debug
/EngineTests/x64
/x64
/packages
/TestResults