################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BoardGames/x64
/BoardGamesEngine/Debug
/EngineTests/x64
/EngineTests/*pgn
/EngineTests/*csv
/EngineTests/*log
/x64
/packages
/TestResults